<div class="container my-4">
  <div class="row mt-5">
    <!-- 1st card -->
    <div class="col-6">
      <div class="card card-a addCourse" style="background-color: #F38181;" (click)="AddCourse()">
        <div class="card-body">
          <h5 class="card-title text-center" style="margin-top: 1.5rem;">Add Courses</h5>
        </div>
      </div>
    </div>

    <!-- 2nd card -->
    <div class="col-6">
      <div class="card card-b viewCourse" style="background-color: #FCE38A;" (click)="ViewCourses()">
        <div class="card-body">
          <h5 class="card-title text-center" style="margin-top: 1.5rem;">View Courses</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <!-- 3rd card -->
    <div class="col-6">
      <div class="card card-c viewEnquiry" style="background-color: #EAFFD0;" (click)="ViewEnquiry()">
        <div class="card-body">
          <h5 class="card-title text-center" style="margin-top: 1.5rem;">View Enquiries</h5>
        </div>
      </div>
    </div>
    <!-- 4th card -->
    <div class="col-6">
      <div class="card card-d viewPayment" style="background-color: #95E1D3;" (click)="ViewPayment()">
        <div class="card-body">
          <h5 class="card-title text-center" style="margin-top: 1.5rem;">View Payment</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <!-- 5th card -->
    <div class="col-6">
      <div class="card card-e viewStudent" style="background-color: #9195F6;" (click)="ViewStudent()">
        <div class="card-body">
          <h5 class="card-title text-center" style="margin-top: 1.5rem;">View Students</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->