<div class="container border shadow-lg p-3 mb-5 bg-white rounded mt-5">
  <div class="row">
    <div class="col-md-6 auth">
      <div class="form-group" style="text-align: center; max-height: fit-content; margin-top: 45%;">
        <h1 for="login" style="font-size: -webkit-xxx-large;">Already existing user ?</h1>
        <a routerLink="/login" class="btn btn-info form-control my-5" style="font-size:large;">Login</a>
      </div>
    </div>
    <div class="col-md-6">
      <h3 style="color: #5d3fd3;">Register</h3>
      <div class="form-group" *ngIf="!errormsg">
        <div class="alert alert-info" role="alert">
          <h5 class="alert-heading">Welcome aboard</h5>
        </div>
      </div>
      <div class="form-group" *ngIf="errormsg">
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Registration Failed</h4>
          <hr>
          <p class="mb-0">Username or Mobile number is already registered.</p>
        </div>
      </div>
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="form-group">
          <label for="userName">Username <span class="text text-danger">*</span></label>
          <input placeholder="Enter Username" type="text" class="form-control" id="userName" name="userName"
            [(ngModel)]="user.userName" required minlength="3" maxlength="50" />
          <div class="error-message" style="color: red" *ngIf="
              registerForm.controls['userName']?.invalid &&
              registerForm.controls['userName']?.touched
            " class="text-danger">
            Username must be between 3 and 50 characters.
          </div>
        </div>

      <div class="form-group">

          <!--karma changes -->

          <div class="registration-form">

            <label for="email">Email:</label>

            <input type="email" id="email" class="form-control" placeholder="Enter email address" [(ngModel)]="user.emailID" name="email" required #emailInput />

            <div class="error-message" *ngIf="emailInput.invalid && emailInput.touched">

              Invalid email format

            </div>

          </div>

        </div>

        <div class="form-group">
          <label for="password">Password <span class="text text-danger">*</span></label>
          <input placeholder="Enter password" type="password" class="form-control" id="password" name="password"
            [(ngModel)]="user.password" required minlength="8"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}$" />
          <div class="error-message" style="color: red" *ngIf="
              registerForm.controls['password']?.invalid &&
              registerForm.controls['password']?.touched
            " class="text-danger">
            Password must be at least 8 characters long and contain at least one
            uppercase letter, one lowercase letter, one number, and one special
            character.
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password <span class="text text-danger">*</span></label>
          <input placeholder="Enter confirmPassword" type="password" class="form-control" id="confirmPassword"
            name="confirmPassword" [(ngModel)]="confirmPassword" required #password="ngModel" />
          <div class="error-message" style="color: red" *ngIf="password?.invalid && password?.touched"
            class="text-danger">
            Confirm password is required.
          </div>
          <div class="error-message" style="color: red" *ngIf="
              user.password !== confirmPassword &&
              registerForm.controls['confirmPassword']?.touched
            " class="text-danger">
            Passwords do not match.
          </div>
        </div>

        <div class="form-group">
          <label for="mobile">Mobile Number <span class="text text-danger">*</span></label>
          <input placeholder="Enter mobile" type="mobile" name="mobile" id="mobile" class="form-control" required
            pattern="^[0-9]{10,11}" #number="ngModel" [(ngModel)]="user.mobileNumber" />
          <div class="text-danger">
            <div *ngIf="(number?.invalid && number?.touched) || number?.dirty">
              <div *ngIf="number.error-messages?.required">Mobile Number is required</div>
              <div class="error-message" *ngIf="number.error-messages?.pattern">Invalid mobile number format</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="userRole">Role <span class="text text-danger">*</span></label>
          <select class="form-control" id="userRole" name="userRole" [(ngModel)]="user.userRole" required>
            <option value="">Select a role</option>
            <option *ngFor="let userRole of roles" [value]="userRole">{{ userRole }}</option>
          </select>
          <div class="error-message" style="color: red" *ngIf="
              registerForm.controls['userRole']?.invalid &&
              registerForm.controls['userRole']?.touched
            " class="text-danger">
            Please select a role.
          </div>
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary form-control" [disabled]="registerForm.invalid"
            [ngStyle]="{'cursor':registerForm.invalid?'not-allowed':'pointer','background-color':registerForm.invalid?'grey':'','border-color':registerForm.invalid?'grey':''}">
            Register
          </button>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-warning form-control" [disabled]="!registerForm.touched"
            [ngStyle]="{'cursor':!registerForm.touched?'not-allowed':'pointer','background-color':!registerForm.touched?'grey':'','border-color':!registerForm.touched?'grey':''}"
            (click)="resetForm(registerForm)" preventDefault>
            Reset Form
          </button>
        </div>
      </form>
    </div>
  </div>
</div>