<div class="container">
    <!-- 1st card -->
    <div class="row mt-4">
        <div class="col-6">
            <div class="card  shadow-lg p-3 mb-5 rounded viewCourse" style="background-color:#F38181;" (click)="viewCourses()">
                <div class="card-body">
                    <h5 class="card-title text-center">View Courses</h5>
                </div>
            </div>
        </div>
 
        <!-- 2nd card -->
        <div class="col-6">
            <div class="card shadow-lg p-3 mb-5 rounded addEnquiry" style="background-color:#FCE38A" (click)="addEnquiry()">
                <div class="card-body">
                    <h5 class="card-title text-center">Add Enquiry</h5>
                </div>
            </div>
        </div>
    </div>
 
    <!-- 3rd card -->
    <div class="row mt-4">
        <div class="col-6">
            <div class="card  shadow-lg p-3 mb-5 rounded viewEnquiries" style="background-color: #EAFFD0;" (click)="viewEnquiries()">
                <div class="card-body">
                    <h5 class="card-title text-center">View Enquiries</h5>
                </div>
            </div>
        </div>
    </div>

    
 
</div>